# Compiler files
cache/
!out
out/*/*.json
!out/*/*.abi.json
test/__pycache__/
bin/
build/
lib/.DS_Store

# Dev files
dev_doc.txt
.vscode/

# Ignores development broadcast logs
!broadcast
broadcast/*/31337/
broadcast/**/dry-run/
broadcast/deploy.s.sol/5/*
!broadcast/deploy.s.sol/5/run-latest.json
broadcast/deploy.s.sol/11155111/*
!broadcast/deploy.s.sol/11155111/run-latest.json

# Dotenv file
.env
node_modules

node_modules
.env
coverage
coverage.json
typechain
typechain-types

# Hardhat files
cache
artifacts


node_modules
.env
coverage
coverage.json
typechain
typechain-types

# Hardhat files
cache
artifacts

